*.pid
*.xml
*.csr
*.crt
*.key
*.txt
*.conf
*.db-journal
*.json
www
tts
deps
lib
home-assistant.log
home-assistant_v2.db
secrets.yaml
known_devices.yaml
google_calendars.yaml
pyozw.sqlite
.*
!/.gitignore
!/.travis.yml
