###################################
#Obtains environmental information#
#and presents it as sensor reading#
###################################

- platform: moon

- platform: time_date
  display_options:
   - 'time'
   - 'date'
   
- platform: darksky
  api_key: !secret darksky_api_key
  units: auto
  update_interval:
    minutes: 30
  monitored_conditions:
    - summary
    - precip_type
    - precip_intensity
    - precip_probability
    - temperature
    - apparent_temperature
    - dew_point
    - wind_speed
    - wind_bearing
    - cloud_cover
    - humidity
    - pressure
    - visibility
    - ozone
    - minutely_summary
    - hourly_summary
    - daily_summary
    - temperature_max
    - temperature_min
    - apparent_temperature_max
    - apparent_temperature_min
    - precip_intensity_max