##############################################################
#                                                            #
# This .gitignore file prevents sensitive information from   #
# my homeassistant instance being committed to the repo, and #
# exposes just the configuration files for reference         #
#                                                            #
##############################################################


# Ignore Sensitive config files by pattern

*.xml
*.txt
*.conf
*.db-journal
*.json
*.log
*.db*
*.sqlite
*.pickle
*.sh
.*


# Ignore System generated caches

*pycache*


# Ignore Folders
tts
deps

www/private

# Ignore Specific sensitive files

secrets.yaml
known_devices.yaml
google_calendars.yaml
ip_bans.yaml


# Whitelist files that would be shared but would otherwise
# be ignored due to pattern matching

!/.HA_VERSION
!/.gitignore
!*lovelace
