################################################
#                                              #
# This is my main configuration.yaml. I use    #
# a package-based split-configuration format,  #
# please see the ReadMe files for details on   #
# how this is done, and thusly how this repo   #
# is organised in to the various files/folders #
#                                              #
################################################


homeassistant:
  name: Home Assistant

  latitude: !secret latitude
  longitude: !secret longitude
  elevation: !secret elevation

  time_zone: !secret time_zone
  unit_system: metric

  packages: !include_dir_named packages/
<<<<<<< HEAD:homeassistant/configuration.yaml
=======


http:
  api_password: !secret api_password
  ip_ban_enabled: True
  login_attempts_threshold: 3
#  ssl_certificate: !secret ssl_certificate
#  ssl_key: !secret ssl_key
  base_url: !secret base_url
>>>>>>> master:configuration.yaml
