######################################
#This automation switches maintenance#
#mode on when instructed via telegram#
######################################

alias: 'Telegram set maintenance mode'
initial_state: 'on'
trigger:
  platform: event
  event_type: telegram_command
  event_data:
    command: '/maintenance'
action:
  - service: input_boolean.turn_on
    entity_id: input_boolean.maintenance_mode
  - service: telegram_bot.send_message
    data_template:
      target: '{{ trigger.event.data.user_id }}'
      message: 'Maintenance mode has been turned on'